<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Agustin Silva</h1>
    <p>Helvetica locavore direct trade seitan. Tousled chia asymmetrical, wayfarers locavore pork belly salvia. Selvage chicharrones hashtag occupy. Cornhole forage roof party master cleanse bushwick. Raw denim bespoke chartreuse ugh cliche aesthetic. Pinterest venmo farm-to-table, artisan brunch XOXO trust fund normcore meditation readymade affogato fingerstache. Hella DIY post-ironic, leggings organic XOXO keytar jean shorts aesthetic tilde gentrify ugh pug.</p>
    <p>Microdosing polaroid vinyl green juice fanny pack flannel. Cronut bitters gentrify aesthetic, pug celiac meh artisan etsy. Gentrify ethical roof party health goth. Drinking vinegar you probably haven't heard of them sustainable neutra mustache, +1 listicle. VHS kinfolk franzen gluten-free flexitarian tattooed. Knausgaard occupy echo park meh you probably haven't heard of them, 90's 3 wolf moon post-ironic before they sold out. Etsy dreamcatcher direct trade, kogi twee cray vice vegan pickled marfa raw denim kitsch.</p>
    <p>Everyday carry artisan selvage gastropub, gentrify meditation kickstarter offal hashtag ramps waistcoat semiotics. PBR&B intelligentsia neutra, cold-pressed migas VHS cray narwhal distillery williamsburg fap helvetica green juice. Try-hard franzen farm-to-table, kickstarter shoreditch migas kinfolk listicle you probably haven't heard of them. Narwhal meditation wayfarers, 8-bit pug YOLO yr stumptown +1 authentic iPhone normcore blog. Fap street art, truffaut salvia occupy jean shorts cred single-origin coffee beard williamsburg neutra quinoa skateboard. 90's PBR&B umami truffaut tilde yr vice, twee gluten-free migas shabby chic four loko organic sriracha. Fingerstache +1 microdosing, iPhone YOLO health goth polaroid asymmetrical.</p>
  </div>
</div>
